<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game</title>
</head>

<body>
  <p>
    <a href="/lec02">lec02.htmlを更新(F5)</a>
  </p>

  <script th:inline="javascript" th:if=${janken}>
    window.onload = function () {
      var janken = [[${ janken }]];
      var cpu_hand = janken.cpuHand;
      document.getElementById("cpu").innerHTML = cpu_hand;
      console.log(janken);
    }
  </script>

  <h1>Lec02 GET!</h1>
  <p>
  <div th:if="${name}">
    Hi [[${name}]]
  </div>
  </p>
  <p>
  <div>
    <a href="/lec02janken?hand=Gu">ぐー</a>
    <a href="/lec02janken?hand=Choki">ちょき</a>
    <a href="/lec02janken?hand=Pa">ぱー</a>
    <div th:if="${result}">
      あなたの手 [[${hand}]]<br>
      <div th:if="${janken}">相手の手 <span id="cpu">ほげほげ</span></div>
      結果 [[${result}]]
    </div>
  </div>
  </p>
</body>

</html>
