<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game</title>
</head>

<body>
  <h1>Match</h1>

  <h2><span th:if="${entry}">[[${entry.user}]]</span> V.S. <span th:if="${enemy}">[[${enemy}]]</span></h2>

  <p>
    <a href="/wait?hand=Gu">ぐー</a>
    <a href="/wait?hand=Choki">ちょき</a>
    <a href="/wait?hand=Pa">ぱー</a><br>
    <a href="/lec02">もどる</a>
  </p>

  <!--<p th:if="${entry}">あなた: [[${entry.user}]]</p>
  <p th:if="${enemy}">相手: [[${enemy}]]</p>-->

  <script th:inline="javascript" th:if=${janken}>
    window.onload = function () {
      var janken = [[${ janken }]];
      var cpu_hand = janken.cpuHand;
      document.getElementById("cpu").innerHTML = cpu_hand;
      console.log(janken);
    }
  </script>

  <!--<p>
  <div>
    <a href="/matchjanken?hand=Gu&vs=CPU">ぐー</a>
    <a href="/matchjanken?hand=Choki&vs=CPU">ちょき</a>
    <a href="/matchjanken?hand=Pa&vs=CPU">ぱー</a>
    <div th:if="${result}">
      あなたの手 [[${hand}]]<br>
      <div th:if="${janken}">相手の手 <span id="cpu"></span></div>
      結果 [[${result}]]
    </div>
  </div>
  </p>-->

</body>

</html>
